/* styles.css */

.a {
    text-decoration-color: #fff;
    
}

body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    font-family: 'Questrial', sans-serif;
}

/* Style du header */
header {
    display: flex;
    align-items: center; /* Centre verticalement le contenu */
    justify-content: space-between;
    color: #ffffff;
}

/* Style du logo */
.logo img {
    width: 60px;
    height: auto;
    border-radius: 50%; /* Pour créer un effet de cercle pour le logo */
    margin-left: 30px;
    transition: transform 0.2s;
    filter: brightness(0.5);
}

.logo img:hover {
    transform: scale(1.5); /* Grossissement de 10% lors du survol */
    filter: brightness(1);
}




/* Style du nom */
.nom h1 {
    font-size: 50px;
    font-family: "Arial Black", sans-serif; /* Utilise la police "Arial Black" si disponible, sinon une police sans sérif générique */
    font-style: italic; /* Police italique */
    font-weight: bold; /* Texte en gras */
}


/* Style du logo de spotify uniquement */
.reseaux-sociaux li img {
    width: 30px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Conservez les proportions de l'image */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 50%;
    transition: transform 0.2s;
    filter: brightness(0.5);
}

.reseaux-sociaux li {
    display: inline;
}

.reseaux-sociaux img:hover {
    transform: scale(1.5); /* Grossissement de 10% lors du survol */
    filter: brightness(1);
}




/* Personnaliser l'apparence des liens */
a {
    color: black; /* Définir la couleur des liens */
    text-decoration: none; /* Supprimer le soulignement des liens */
}


/* Styles pour le menu de navigation */

.description {
    justify-content: center;
}
.description ul{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
    flex-direction: row;
    align-items: center;
    padding-left: 150px;
    
}

.description ul img {
    width :80% ; 
    height: auto;
    border-radius: 30%;
}

.description ul li2 h1{
    text-align: center;
    color: #ffffff;
}

.description ul li2{
    padding: 5px;
    font-size: 150%; /* Taille de la police */
    font-weight: bold; /* Texte en gras */
    color: #ffffff; /* Couleur du texte */
    text-transform: uppercase; /* Met le texte en majuscules */
    letter-spacing: 2px; /* Espacement entre les lettres */ 
    text-align: center; /* Centre le texte horizontalement */
    width: 50%;
    padding-right: 150px;
}


/* Styles pour le titre */

.titre1, .titre2 p {
    font-size: 200%; /* Taille de la police */
    font-weight: bold; /* Texte en gras */
    color: #ffffff; /* Couleur du texte */
    text-transform: uppercase; /* Met le texte en majuscules */
    letter-spacing: 2px; /* Espacement entre les lettres */ 
    padding: 50px;
    text-align: center; /* Centre le texte horizontalement */
    margin-top: 50px;
}

.son123, .son456, .projets{
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    margin-bottom: 50px;
    color: #fff;
}
.menu-item {
    text-align: center; /* Centre le texte */
    margin: 0px; /* Espacement entre les éléments */
    filter: brightness(0.4);
}

.menu-item img {
    width: 50%; /* Ajustez la largeur de l'image selon vos besoins */
    height: auto; /* Ajuste automatiquement la hauteur en fonction de la largeur */
    transition: transform 0.2s;
}


.menu-item:hover{
    transform: scale(1.1);
    filter: brightness(1);
}

.menu-item p {
    margin: 20px; /* Espacement entre l'image et le texte */
    font-weight: bold; /* Texte en gras */
}

/* Styles pour personnaliser la barre de lecture audio */
audio {
    width: 50%; /* Largeur de l'élément audio pour qu'il s'adapte à la largeur du conteneur */ 
}

/* Changer la taille du timer */
audio::-webkit-media-controls-timeline {
    width: 200%; /* Hauteur du timer (barre de progression) */
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    font-size: 15px; /* Taille de la police du timer */
}

audio::-webkit-media-controls-status-display {
    display: none;
}

.projets, .projets p{
    color: #fff;
    margin-bottom: 50px;
}


.contact {
    padding: 40px;
    text-align: center;
    color: #fff;
}

.contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.reseaux2 img{
    width: 10%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    filter: brightness(0.5);
}

.reseaux2 img:hover {
    transform: scale(1.2); /* Grossissement de 10% lors du survol */
    filter: brightness(1);
}

/* Media query pour la mise en page responsive */
@media screen and (max-width: 768px) {
    .image-container img {
        width: 100%; /* Réduire la largeur des images pour les écrans plus petits */
    }
}


